.aboutcards__s1 {
    border-radius: 16px;
    border: #E5E7EB solid 1px;
    padding: 20px;
    box-shadow: 0px 10px 15px 0px #0000001A;
    box-shadow: 0px 4px 6px 0px #0000001A;
    width: 40%;
    margin-bottom: 20px;
    background-color: white;
}

.aboutcards__s1 img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.aboutcards__s1 h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.aboutcards__s1 p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0%;

}

/* Responsive Design */

@media screen and (max-width: 768px) {
    .aboutcards__s1 {
        width: 100%;
        padding: 15px;
        margin-bottom: 30px
    }

    .aboutcards__s1 img {
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
    }

    .aboutcards__s1 h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .aboutcards__s1 p {
        font-size: 14px;
    }
}